name: Publish Docker Images

on:
  push:
    branches: [ "main" ]
  release:
    types: [published]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - context: .
            dockerfile: apps/api/Dockerfile
            image: nord21dev/cherrytracer-api
          - context: .
            dockerfile: apps/dashboard/Dockerfile
            image: nord21dev/cherrytracer-dashboard

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.dockerfile }}
          push: true
          tags: ${{ matrix.image }}:latest
          # Adds multi-platform support (Key for cheap VPSs!)
          platforms: linux/amd64,linux/arm64